*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.navbar{
    font-family: 'Roboto Condensed', sans-serif;

    display: flex;
    height: 10vh;

    position: sticky;
    top: 0;

}

.background{
    background: rgba(0, 0, 0, 0.8) url(../images/bkg.jpg);
    background-size: cover;
    background-blend-mode: darken;
}

.nav-list{
    width: 50vw;
    display: flex;

    justify-content: space-evenly;
    align-items: center;

    /* background-color: aqua; */

    padding: 5px;
}

.nav-list a{
    text-decoration: none;
    color: white;
}

.nav-list a:visited{
    text-decoration: none;
    color: white;
}

.nav-list>li{
    list-style: none;
    font-size: 17px;

    
}

.nav-list a:hover{
    stroke-width: 2px;
    text-underline-offset: 2px;
    text-underline-position: below;
    text-decoration: underline;
    
}

.nav-list>div{
    height: 100%;

    /* border: 1px solid white; */
    padding: 10px;
}

.nav-list>div>a>img{
    height: 100%;
}

.rightnav{
    width: 50%;
}

.rightnav > div{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: right;
    padding-right: 10%;
}

.rightnav>div>button{
    height: 100%;
    font-size: 15px;
    padding: 15px;
    border: 0px;

    background: none;
}

.rightnav>div>button>img{
    height: 50%;
}

.rightnav>div>button:hover{
    cursor: pointer;
}

.rightnav>div>button:active{    
    background: none;
}

.rightnav > div > input{
    height: 100%;
    font-size: 15px;
    padding: 15px;
    padding-left: 0;
    border: 0px;

    background: none;
    
    color: white;
}

.rightnav>div>input::placeholder{
    color: white;
}

.rightnav>div>input::-webkit-search-cancel-button{
    filter: invert(1.0);
}


.rightnav>div>input:focus{
    outline: none;
    background: none;
    }

.box-main{
    display: flex;
    justify-content: space-between;

    height: 90vh;
    max-width: 60%;
    margin: auto;

    color: white;
}

.first-half{
    height: 80%;
    width: 54%;
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: justify;
}

.first-half>p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.big-text{
    font-size: 49px;
    margin-bottom: 10px;
}

.small-text{
    font-size: 18px;
}

.second-half{
    height: 80%;
    width: 35%;

    display: flex;
    justify-content: center;
    align-items: center;
    

}

.second-half>img{
    /* max-height: 100%; */
    max-width: 100%;

    border: 5px solid beige;
    /* border-radius: ; */
    display: block;
    margin: auto;
}

.buttons{
    display: flex;
    justify-content: left;
    width: 100%;
}

.buttons>button{
    background: none;
    border: 2px solid white;
    border-radius: 5px;

    font-size: 20px;
    color: white;

    padding: 10px 20px;
    margin: 25px 10px 0px 0px;
    
}

.buttons>button:hover{
    cursor: pointer;
}

.buttons>button:active{
    background: rgba(0, 0, 0, 0.356);
}






main{
    width: 98.9vw;

    background: rgba(210, 210, 210, 0.386);
    /* background: rgb(104, 106, 108); */
    padding: 150px 150px;

}

.article{
    display: flex;
    justify-content: space-between;

    width: 100%;

    padding: 20px 50px;
    margin-bottom: 150px;
}

.left>.article-sec{
    padding-right: 150px;
}

.right{
    flex-direction: row-reverse;
}

.right>.article-sec{
    padding-left: 150px;
}

.article-sec{
    width: 80%;
}

.article-head{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 29px;
    margin-bottom: 20px;
}

.article-body{
    text-align: justify;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.article-img{
    display: flex;
    align-items: center;
    width: 20%;
    /* aspect-ratio: 20; */
}

.article-img>img{
    display: block;
    max-height: 100%;
    max-width: 100%;
    /* aspect-ratio: 1; */

    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;

    margin: auto auto;
}